/* Bootstrap customizations */

$theme: 'bus-dark';

// Body

$body-bg: $gray-900;
$body-color: $white;

// Forms

$input-border-color: $body-bg;
$form-check-input-border: none;

// Dropdowns

$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// Navbar

$navbar-dark-color: rgba($white, 0.6);
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($gray-900, 0.7);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$navbar-light-toggler-border-color: rgba($gray-900, 0.1);

// Pagination

$pagination-color: $white;
$pagination-bg: $primary;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: lighten($primary, 5%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($primary, 10%);
$pagination-disabled-border-color: transparent;

// Cards

$card-cap-bg: $gray-700;
$card-bg: $gray-800;

// Popovers

$popover-bg: $gray-800;
$popover-header-bg: $gray-700;

// Toasts

$toast-background-color: $gray-700;
$toast-header-background-color: $gray-800;

// Modals

$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;
$modal-header-border-color: $gray-700;

// Progress bars

$progress-bg: $gray-700;

// List group

$list-group-color: $body-color;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;
$list-group-hover-bg: $gray-700;
$list-group-action-hover-color: $list-group-color;
$list-group-action-active-bg: $gray-900;

// Breadcrumbs

$breadcrumb-bg: $gray-700;

// Close

$btn-close-color: $white;

// Code

$pre-color: inherit;
