/* Light Theme CSS */

// Theme customization
@import '../_variables-common';
@import '../_dash-variables-light';

// Vendor CSS
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5';

// Custom CSS
@import '../_dash-customizations';
